<div class="card border-primary mb-3 mt-4 mx-auto">
    <div class="card-header">About</div>
    <div class="card-body">
      <h2 class="card-title">Sample Title</h2>
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi sapiente delectus soluta ipsa natus vero, laborum consequuntur quam eveniet! Ea tempora officiis facilis, corrupti eaque reiciendis voluptate adipisci a eligendi.</p>
    </div>
  </div>
  