<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 footer-about wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <img class="logo" src="/img/logo.png" alt="logo-footer">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate consequatur saepe aperiam. Eaque deleniti, aliquid, cumque similique debitis facilis fuga amet ipsum quos, provident quod magni nihil et enim aut.
                    </p>
                </div>
                <div class="col-md-4 offset-md-1 footer-contact wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                    <h3>Contact</h3>
                    <p><i class="fa fa-telegram"></i> Telegram: <a href="https://t.me/alvarito_lml">@alvarito_lml</a></p>
                    <p><i class="fa fa-envelope"></i> Email: <a href="mailto:almarlop98@gmail.com">almarlop98@gmail.com</a></p>
                    <p><i class="fa fa-linkedin"></i> LinkedIn: <a href="https://www.linkedin.com/in/%C3%A1lvaro-mart%C3%ADn-l%C3%B3pez-84764a18b/">Álvaro Martín López</a></p>
                    <p><i class="fa fa-github"></i> Github: <a href="https://github.com/Alburrito">@Alburrito</a></p>
                </div>
                <div class="col-md-4 footer-links wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="row">
                        <div class="col">
                            <h3>Links</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p><a class="scroll-link" href="#top-content">Top</a></p>
                            <p><a href="/users/signup">Register</a></p>
                        </div>
                        <div class="col-md-6">
                            <p><a href="/about">About</a></p>
                            <p><a href="https://github.com/Alburrito/nodejs-express-users-template">Source code</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>