<div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card">
        <div class="card-header">
          Register
        </div>
        <div class="card-body">
          <form action="/users/signup" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username" value="<%= username %>">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" name="email" placeholder="Email" value="<%= email %>">          
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="repeatPassword" placeholder="Repeat password">
              <small class="form-text text-muted">Never share your password with anybody.</small>
            </div>
            <button class="btn btn-primary btn-block">
              Sign up 
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>